.create-item-modal {
    position: fixed;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-color: gray;
    border-radius: 5px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
  margin-bottom: 10px; /* Adds space below text input fields */
}

input[type="file"] {
    margin-bottom: 10px; /* Adds space below file input */
}

select {
    margin-bottom: 20px; /* Adds space below select dropdown */
}

.create-item-modal.active {
    visibility: visible;
    opacity: 1;
}

#create-item-modal-close-button {
    top: 10px;
    right: 10px;
    position: absolute;

}